<footer style="padding-top: 5%;" class="text-center text-lg-start" style="background-color: rgba(237, 255, 73, 0.774);">

    <div class="container p-4">
     
      <div class="row">
      
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase" style="font-size: larger; text-align: left;"><b>Hop & Shop!</b> </h5>
    
          <p style="text-align: left;">
           Welcome to our Online stores. <br>
           Here you can find a wide range of products to cater all your needs. <br>
           Shop to your heart's content at an unbelievable price!
          </p>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
         
    
          <ul class="list-unstyled mb-0">
            <div routerLink='/landing'>
            <li>
              <a class="text-dark"><b> Home</b></a>
            </li>
           </div>
           <div routerLink="/men">
            <li>
              <a class="text-dark"> <b> Men</b></a>
            </li>
          </div>
          <div routerLink="/women">
            <li>
              <a class="text-dark"><b>Women</b></a>
            </li>
          </div>
          </ul>
         
        </div>
       
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
         
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Privacy Policy</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Terms & Conditions</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Returns & Refunds</a>
            </li>
            <li>
                <a href="#!" class="text-dark">Customer Care</a>
              </li>
          </ul>
        </div>
        
      </div>
     
    </div>
    <div style="padding-bottom: 1%;">
      Follow us on: <img style="width: 30px; height: 30px;" src="assets\fb.jpg" alt="f"> <img style="width: 30px; height: 30px;" src="assets\insta.jpg" alt="i"> <img style="width: 30px; height: 30px;" src="assets\twitter.jpg" alt="t">
    </div>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      AKCB.com
    </div>
    
    </footer>