<div style="background-color: rgba(237, 255, 73, 0.301);">
<div class="container-fluid" style=" padding: 0%; margin: 0%;">
    <img  style=" width: 100%; filter: blur(2px) ; " src="assets\shopping.jpg" alt="img">
      <div style="background-color: rgb(0,0,0); background-color: rgba(237, 255, 73, 0.301); color: black; font-weight: bold; border: 3px solid white; border-width: thin; position: absolute; top: 50%; left: 20%; transform: translate(-50%, -50%); width: 30%; padding: 30px; text-align: centerl; float: left;">
           <b><h4 class="f1"> Let's hop and shop!!!</h4></b> 
           <p class="f2">Welcome to our Online stores. <br>
           Here you can find a wide range of products to cater all your needs. <br>
           Shop to your heart's content at an unbelievable price!</p>      
      </div> 
</div>
<hr>
<div style="text-align: center; font-weight: bolder; font-size: 30px;">
BEST SELLERS
</div>
<hr>
<app-bestseller></app-bestseller>
<hr>
<marquee behavior="" direction="">
<div style="font-weight: bolder;"  >
     <b><h2> Good news!!!</h2></b> 
     <p style="font-weight: bold; font-size: larger;">Pandemic alert: We're taking all precautions to help you shop safe!
        Chill at your home and just shop!
     </p>      
</div> 
</marquee>
<hr>
<br>
<br>
<br>
<div class="container-fluid" style=" padding: 0%; margin: 0%;">
     <img  style=" width: 100%; " src="assets\landingbg.jpg" alt="img">
</div>
 <!-- style=" background-color: rgb(0,0,0); background-color: rgba(100, 100, 87, 0.767); color: white; font-weight: bolder; border: 3px solid white; border-width: thin; position: relative;  transform: translate(100px, -800px); width: 30%; padding: 30px; text-align: centerl;" -->
<!--app-carousel></app-carousel-->
<br>
<br>
<br>