<div class="row">
    <div class="col-md-4"></div>
<div class="col-md-3" style=" border: 3px solid rgba(207, 228, 16, 0.637); border-width: medium; border-radius: 20px; box-shadow: 10px 10px 8px #888888; margin: 3%;">
 <img style="margin-left: 17%; height:200px; width: 200px;" src="\assets\tick.png" alt="">
    <br> 
  <p style="text-align: center; font-size: medium;"> <b> Your order has been successfully placed!</b>
<p style="text-align: center;">Thank you for shopping with us!</p>
<p style="text-align: center;">Visit again.</p>
</div>
</div>