<!--div class="container">
    <div class="row">
      <div class="col p-0" >
        <img [src] = "imagesource" style="width: 100%;">
        <div class="shadow p-3">
          <p class="pt-2" style="font-size: 24px;">AAAA</p>
          <p>
           aaaaa
          </p>
          <div style="padding-bottom: 1%;">
          <button class="w-50 btn btn-primary"> Shop it!</button>
        </div>
          <button class="w-50 btn btn-primary"> Add to cart!</button>
        </div>
      </div>
    </div>
  </div-->